.date-range-picker-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker {
    display: flex;
    flex-direction: column;
}

.date-picker:first-child input[type='date'] {
    margin-right: 12px;
}

label {
    margin: 0;
    color: dodgerblue;
}

.predefined-ranges {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}

button {
    margin-right: 6px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}

button:last-child {
    margin-right: 0;
}

.selected {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}