.container, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}

.selected-date-range {
    padding-top: 40px;
}

.selected-date-range span, .weekend-dates span {
    color: dimgrey;
}

.weekend-dates {
    padding-top: 10px;
}

.dates-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}